.hero{
  background: url('../images/lone-wolf.jpg');
  background-size: cover;
  background-position: 50% 50%;
  min-height: 300px;
  position: relative;
}

h1{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 10px;
  margin: 0;
}

/*.gb-buttons button{
  background-color: #05668D;
  border: none;
}*/

.buy-button{
  background-color: #00A550;
  border: none;
  color: white;
  margin-bottom: 5%;
  margin-top: 0!important;

}
#myTabContent{
  text-align: center;
  margin-top: 0!important;
  border: 1px solid lightgrey;
}

h3{
  background-color: black;
  color:white;
  margin-bottom: 0;
}

#myTabContent .price{
  background-color: lightgrey;
}
.carousel-indicators{
      bottom: -8px;
}

.container-buy-button {
  margin:0 auto;
  width:50%;
}

#family {
      min-height: 260px;
}

footer ul li {
  list-style: none;
  font-size: 12px
}

.customer-service button+button{
  margin-left: 14px
}

#social-buttons a+a{
  margin-left: 14px
}

#social-buttons a{
  padding: .2rem 0.8rem;
}

.secondary-nav{
  max-width: 500px
}
